.circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* La imagen en un círculo */
    object-fit: cover; /* Esto hace que la imagen se adapte al contenedor */
    display: block;
    margin: 0 auto; /* Centra la imagen*/
}

.spaced-label {
    margin-left: 10px;
}
  