<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(255, 255, 255)); padding: 20px 0px; height: 100%; display: flex; justify-content: center; align-items: center;">

    <!-- Título en el fondo -->
    <div style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); z-index: 1; opacity: 0.5; font-size: 60px; font-weight: bold; color: white; text-align: center;">
      Recuperar contraseña
    </div>

    <div class="box" style="max-width: 400px; width: 100%; padding: 20px; background: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo"></ion-input>
        </ion-item>
      </ion-list>

      <!-- Botón principal (enviar correo de recuperación) -->
      <ion-button expand="full" (click)="registro()" style="margin-top: 20px; --background: linear-gradient(rgba(0,0,0,0.5), black);">
        Enviar Correo de Recuperación
      </ion-button>
    </div>
  </div>
</ion-content>
