

<ion-content [fullscreen]="true">

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-header style="margin-bottom: 16px;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Botón de menú -->
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--Inicio de las tarjetas-->
    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px">
      <ion-card style="width: 180px; height: 230px; margin: 0;" button (click)="clickFunction()">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title style="display: flex; justify-content: center">Perfil</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card style="width: 180px; height: 230px; margin: 0;" button (click)="clickFunction()">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title style="display: flex; justify-content: center">Viaje</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card style="width: 180px; height: 230px; margin: 0;" button (click)="clickFunction()">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title style="display: flex; justify-content: center">Vehiculo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card style="width: 180px; height: 230px; margin: 0;" button (click)="clickFunction()">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title style="display: flex; justify-content: center">Ayuda</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </div>
    <!--Fin las tarjetas-->

    <!--INICIO Botton cerrar sesion-->
    <div style="display: flex; justify-content: center; margin-top: 40px;">
      <ion-button class="cerrarSesion" shape="round">Cerrar sesion </ion-button>
    </div>
    <!--FIN Botton cerrar sesion-->

  </ion-content>