<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(255, 255, 255)); padding: 20px 0px; height: 100%; display: flex; justify-content: center; align-items: center;">
    <div class="box" style="max-width: 400px; width: 100%; padding: 20px; background: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="contrasena" label="Contraseña"></ion-input>
        </ion-item>
      </ion-list>
      <!-- 'inicio/:numero', -->
      <ion-button expand="full" [routerLink]="['/inicio/' + 100]" style="margin-top: 20px;">Acceder</ion-button>
      <ion-button expand="full" (click)="login()" style="margin-top: 10px;">Recuperar contraseña</ion-button>
    </div>
  </div>
</ion-content>
