  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false" style="color: white; background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(104, 104, 104)); width: 50px; height: 40px;"></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi Vehiculo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card style="margin: 1px; position: relative;">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
      <div class="descripcionVehiculo">
        Todos los vehículos registrados se mostrarán en esta sección.
      </div>
    </ion-card>

    <ion-card style="margin-top: 10px; margin-left: 5px; margin-right: 10px; height: 100px;">
      <ion-card-header>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 90px; width: 160px; margin-top: -15px; margin-left: -15px;"/>
      </ion-card-header>
    </ion-card>

    <ion-card style="margin-top: -20px;margin-left: 5px; margin-right: 10px; height: 100px;">
      <ion-card-header>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 90px; width: 160px; margin-top: -15px; margin-bottom: px; margin-left: -15px;"/>
      </ion-card-header>
    </ion-card>
    
  </ion-content>